body{
    margin:180px;
    margin-left: 500px;
}
.f{
    
    display: grid;
    grid-template-columns: repeat(5,55px);
    column-gap: 1px;
    row-gap: 1px;
}
.div1{
    background-color: red;
    height: 90px;
    width:40px;
}
.div2{
    background-color: blueviolet;
    height: 40px;
    width:40px;
    margin-left: -15px;
    
}
.div3{
    background-color: red;
    width:85px;
    margin-left: -30px;
    height:40px;
}
.div4{
    background-color: rgb(106, 106, 228);
    height:40px;
    width:40px;
}
.div5{
    background-color: white;
}
.div6{
    background-color: blueviolet;
    height:40px;
    width:40px;
}
.div7{
    background-color: rgb(236, 173, 13);
    margin-left: -15px;
    width:40px;
    margin-top: -50.5px;
    height:-155px;
}
.div8{
    background-color: white;
}
.div9{
    background-color:rgb(236, 173, 13);
    width:40px;
    margin-top: -50.5px;
}
.div10{
    background-color: white;
}
.div11{
    background-color:rgb(236, 173, 13);
    height: 81px;
    width:40px;
}

.div12{
    background-color: rgb(106, 106, 228);
    height:40px;
    width:40px;
    margin-left: -15px;
}
.div13{
    background-color: blueviolet;
    height:40px;
    width:40px;
    margin-left: -30px;
}
.div14{
    background-color: red;
    height:40px;
    width:85.5px;
    margin-left: -45.5px;
}
.div15{
    background-color:white;    
}
.div16{
    background-color:rgb(236, 173, 13); 
    width:40px;  
    height:1px;
    margin-top: -2px; 
}
.div17{
    background-color:blueviolet; 
    height:41px;
    width:40px;
    margin-top: -41.5px;
    margin-left: -15px;
}
.div18{
    background-color:rgb(236, 173, 13); 
    height:41px;
    width:85px;
    margin-top: -41.5px;
    margin-left: -30px;   
}
.div19{
    background-color:blueviolet;
    height:41px;
    width:40px;
    margin-top: -41.5px;
      
}
.div20{
    background-color:rgb(106, 106, 228); 
    height:41px;
    width:40px;
    margin-top: -41.5px;
    margin-left: -15.5px;
}


